<a href="https://colab.research.google.com/github/cperrin2/CAN_mbio_project/blob/main/mbio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [114]:
# get current directory
from posix import getcwd
import os

os.getcwd

In [115]:
# mount drive
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [116]:
os.chdir('/content/drive/MyDrive/Colab Notebooks/Applied Data Science for Social Impact/CAN_mbio_project')

In [117]:
import pandas as pd

In [118]:
# Define the range of years
years_range = range(1961, 2022)

additional_columns = ['Area', 'Item', 'Unit', 'Element', 'Item Code', 'Country', 'Entry Year', 'Flag', 'Flags']

# Generate the column names
columns_to_read = [f'Y{year}' for year in years_range] + additional_columns

print(columns_to_read)

['Y1961', 'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020', 'Y2021', 'Area', 'Item', 'Unit', 'Element', 'Item Code', 'Country', 'Entry Year', 'Flag', 'Flags']

In [119]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Applied Data Science for Social Impact/CAN_mbio_project/data/all_data.csv', encoding='latin1', usecols=columns_to_read)

<ipython-input-119-3803c4c9ee23>:1: DtypeWarning: Columns (0,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Applied Data Science for Social Impact/CAN_mbio_project/data/all_data.csv', encoding='latin1', usecols=columns_to_read)

In [120]:
data.head()

,Country,Entry Year,Flag,Flags,Area,Item Code,Item,Element,Unit,Y1961,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
0,Albania,2005.0,A,Official figure,Afghanistan,221,"Almonds, in shell",Area harvested,ha,NaN,...,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0,22134.0,21685.00
1,Argentina,1994.0,B,Time series break,Afghanistan,221,"Almonds, in shell",Yield,100 g/ha,NaN,...,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0,17759.0,18748.00
2,Australia,1989.0,C,Aggregate,Afghanistan,221,"Almonds, in shell",Production,t,NaN,...,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0,39307.0,40655.23
3,Austria,1994.0,E,Estimated value,Afghanistan,711,"Anise, badian, coriander, cumin, caraway, fenn...",Area harvested,ha,NaN,...,18500.0,18500.0,30000.0,25000.0,24500.0,26160.0,25220.0,27387.0,26255.0,26287.00
4,Azerbaijan,2004.0,F,Forecast value,Afghanistan,711,"Anise, badian, coriander, cumin, caraway, fenn...",Yield,100 g/ha,NaN,...,6757.0,6757.0,7167.0,7200.0,7075.0,6970.0,7866.0,6902.0,7409.0,7379.00

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79297 entries, 0 to 79296
Data columns (total 70 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     76 non-null     object
 1   Entry Year  76 non-null     float64
 2   Flag        13 non-null     object
 3   Flags       13 non-null     object
 4   Area        79297 non-null  object
 5   Item Code   79297 non-null  int64
 6   Item        79297 non-null  object
 7   Element     79297 non-null  object
 8   Unit        79297 non-null  object
 9   Y1961       50015 non-null  float64
 10  Y1962       50047 non-null  float64
 11  Y1963       50051 non-null  float64
 12  Y1964       50087 non-null  float64
 13  Y1965       50090 non-null  float64
 14  Y1966       50247 non-null  float64
 15  Y1967       50285 non-null  float64
 16  Y1968       50382 non-null  float64
 17  Y1969       50449 non-null  float64
 18  Y1970       50559 non-null  float64
 19  Y1971       50641 non-null  float64
 20  Y1972       50693 non-null  float64
 21  Y1973       50727 non-null  float64
 22  Y1974       50802 non-null  float64
 23  Y1975       50960 non-null  float64
 24  Y1976       51053 non-null  float64
 25  Y1977       51272 non-null  float64
 26  Y1978       51331 non-null  float64
 27  Y1979       51526 non-null  float64
 28  Y1980       51837 non-null  float64
 29  Y1981       51985 non-null  float64
 30  Y1982       52083 non-null  float64
 31  Y1983       52156 non-null  float64
 32  Y1984       52279 non-null  float64
 33  Y1985       53996 non-null  float64
 34  Y1986       54190 non-null  float64
 35  Y1987       54354 non-null  float64
 36  Y1988       54564 non-null  float64
 37  Y1989       54798 non-null  float64
 38  Y1990       56548 non-null  float64
 39  Y1991       64024 non-null  float64
 40  Y1992       69894 non-null  float64
 41  Y1993       70532 non-null  float64
 42  Y1994       70799 non-null  float64
 43  Y1995       70962 non-null  float64
 44  Y1996       71027 non-null  float64
 45  Y1997       71133 non-null  float64
 46  Y1998       71212 non-null  float64
 47  Y1999       71344 non-null  float64
 48  Y2000       71739 non-null  float64
 49  Y2001       71801 non-null  float64
 50  Y2002       71847 non-null  float64
 51  Y2003       72012 non-null  float64
 52  Y2004       72130 non-null  float64
 53  Y2005       72179 non-null  float64
 54  Y2006       72423 non-null  float64
 55  Y2007       71600 non-null  float64
 56  Y2008       71611 non-null  float64
 57  Y2009       71627 non-null  float64
 58  Y2010       72072 non-null  float64
 59  Y2011       72087 non-null  float64
 60  Y2012       72348 non-null  float64
 61  Y2013       72372 non-null  float64
 62  Y2014       72571 non-null  float64
 63  Y2015       72616 non-null  float64
 64  Y2016       72686 non-null  float64
 65  Y2017       72848 non-null  float64
 66  Y2018       71764 non-null  float64
 67  Y2019       71712 non-null  float64
 68  Y2020       71508 non-null  float64
 69  Y2021       66681 non-null  float64
dtypes: float64(62), int64(1), object(7)
memory usage: 42.3+ MB

In [122]:
data.describe()

,Entry Year,Item Code,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021
count,76.000000,79297.000000,5.001500e+04,5.004700e+04,5.005100e+04,5.008700e+04,5.009000e+04,5.024700e+04,5.028500e+04,5.038200e+04,...,7.234800e+04,7.237200e+04,7.257100e+04,7.261600e+04,7.268600e+04,7.284800e+04,7.176400e+04,7.171200e+04,7.150800e+04,6.668100e+04
mean,1996.157895,868.144709,1.577002e+06,1.606085e+06,1.633636e+06,1.681971e+06,1.713125e+06,1.750773e+06,1.794414e+06,1.820121e+06,...,3.078502e+06,3.155539e+06,3.204363e+06,3.232415e+06,3.273706e+06,3.322050e+06,3.398826e+06,3.424313e+06,3.451668e+06,3.705093e+06
std,13.199043,1447.726922,1.659174e+07,1.683757e+07,1.708906e+07,1.760502e+07,1.793704e+07,1.835973e+07,1.877279e+07,1.904648e+07,...,3.447911e+07,3.551540e+07,3.587205e+07,3.624419e+07,3.668855e+07,3.706753e+07,3.763656e+07,3.754337e+07,3.762399e+07,3.990509e+07
min,1968.000000,15.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1990.500000,358.000000,2.500000e+03,2.543000e+03,2.632225e+03,2.702500e+03,2.790250e+03,2.840000e+03,2.941020e+03,2.945000e+03,...,2.409000e+03,2.439750e+03,2.438045e+03,2.487000e+03,2.509000e+03,2.486488e+03,2.302000e+03,2.353000e+03,2.385750e+03,2.386000e+03
50%,1998.500000,600.000000,1.780000e+04,1.816000e+04,1.876900e+04,1.927800e+04,1.993800e+04,2.000000e+04,2.063500e+04,2.100000e+04,...,2.502900e+04,2.538400e+04,2.559400e+04,2.600500e+04,2.610800e+04,2.633450e+04,2.638200e+04,2.704451e+04,2.721800e+04,2.734000e+04
75%,2004.000000,1057.000000,1.160000e+05,1.183670e+05,1.211595e+05,1.243345e+05,1.260000e+05,1.292560e+05,1.315700e+05,1.330112e+05,...,1.814260e+05,1.826070e+05,1.844264e+05,1.861898e+05,1.868264e+05,1.886005e+05,1.939925e+05,1.965205e+05,1.981478e+05,1.983920e+05
max,2021.000000,17530.000000,1.342848e+09,1.360731e+09,1.369425e+09,1.381680e+09,1.398183e+09,1.409318e+09,1.429488e+09,1.450844e+09,...,2.556101e+09,2.758917e+09,2.811825e+09,2.836669e+09,2.911950e+09,2.966111e+09,2.909400e+09,2.962815e+09,3.006634e+09,3.070645e+09

In [123]:
data.isnull().mean()

Country       0.999042
Entry Year    0.999042
Flag          0.999836
Flags         0.999836
Area          0.000000
                ...
Y2017         0.081327
Y2018         0.094997
Y2019         0.095653
Y2020         0.098226
Y2021         0.159098
Length: 70, dtype: float64

In [124]:
print(data[['Country', 'Entry Year']])

          Country  Entry Year
0         Albania      2005.0
1       Argentina      1994.0
2       Australia      1989.0
3         Austria      1994.0
4      Azerbaijan      2004.0
...           ...         ...
79292         NaN         NaN
79293         NaN         NaN
79294         NaN         NaN
79295         NaN         NaN
79296         NaN         NaN

[79297 rows x 2 columns]

In [95]:
# sum how much the continent makes and how mcuh the country made before entry and after entry